<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-4">
        <div class="card" style="background-image: url(<%= cl_image_path cocktail.photo ; %>);">
            <h1><%= cocktail.name %></h1>
           	<%= link_to "", cocktail, class: "card-link" %>
      	</div>
      </div>
    <% end %>
  </div>
</div>


<hr><hr><hr>

<div class="container">
  <div class="row">
      <h1>Cocktails</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="4">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @cocktails.order("name ASC").each do |cocktail| %>
          <tr>
            <td><%= cocktail.name %></td>
            <td><%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, cocktail %></td>
            <td><%= link_to '<i class="fa fa-thumbs-o-up fa-lg"></i>'.html_safe, cocktail, method: :upvote %></td>
            <td><%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_cocktail_path(cocktail) %></td>
            <td><%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe, cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
