<div class="container middle">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
        <h1><%= @cocktail.name %></h1>
        <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
        <hr>
        <p> <%= @cocktail.instruction %></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h2>Ingredients list</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Dose</th>
              <th>Ingredient</th>
              <th width="10%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @cocktail.doses.each do |d| %>
            <tr>
              <td><%= d.description %></td>
              <td><%=  d.ingredient.name %></td>
              <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <hr>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>
        <%= f.input :description, label: "add dose" , placeholder: "6" %>
        <%= f.association :ingredient, collection: Ingredient.order('name ASC'), label: "choose ingredient" %>
        <%= f.button :submit , class:'btn-medium'%>
        <% end %>
        <br>
      </div>
    </div>
  </div>






